
/* ============ BOXES FOR GAME ==================*/
#boxes {
	border: 10px solid black;
	height: 420px;
	width: 420px;
	margin: 0 auto;
}

.boxed {
	border: 2px solid black;
	opacity: 0.5;

	height: 200px;
	width: 200px;
	float: left;
}

#green {
	background-color: green;
}

#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#yellow {
	background-color: yellow;
}

/* ============ BELLOW THE BOXES ==================*/
h1, h3 {
	text-align: center;
}

button#playGame {
	display: block;
	margin: 0 auto;
	background-color: lightgreen;
	margin-top: 2%;
}